//
   Created by kumar on 05/02/16.

extends layout
block content
    -var i=1
    each question in questions
        p Qustion#{i}: #{question.questionBody}
        -i++
        -var j=1
        each option in question.options
            p Option#{j}: #{option}
            -j++
    a(href="/quiz/"+quizName+"/questions/addQuestion") Add Question


